.account-container {
  display: flex;
  gap: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

/* ==== LEFT SIDEBAR ==== */
.account-sidebar {
  background-color: #1a2a6c;
  color: #fff;
  border-radius: 20px;
  width: 260px;
  height: 700px;
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 40px;
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}

.account-form-section {
  transition: all 0.3s ease-in-out;
}

.avatar-icon {
  font-size: 110px;
  color: #1a2a6c; /* deep blue circle */
  background-color: #e3e6f5; /* light grey-blue fill */
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 15px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.menu-btn {
  width: 80%;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn.active {
  background-color: #e0e5ff;
  color: #1a2a6c;
  font-weight: 600;
}

/* ==== RIGHT FORM AREA ==== */
.account-form-section {
  background-color: #fff;
  border-radius: 20px;
  flex: 1;
  padding: 5px;
  padding-left: 3rem;
  padding-right: 4rem;
  padding-bottom: 40rem;
  height: 430px;
  display: flex;
  flex-direction: column;
}

.account-form-section h2 {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 32px;
  color: #000;
}

.details-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
  justify-content: center;
}

.form-row {
  display: flex;
  gap: 30px;
}

.form-row.single {
  justify-content: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

label {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 6px;
  color: #222;
}

input,
select {
  border: 1.5px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  color: #333;
}

input:read-only,
select:disabled {
  background-color: #f5f6fa;
}

.save-btn {
  background-color: #1a2a6c;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  font-weight: 600;
  width: 150px;
  align-self: flex-start;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #12205a;
}
