.bill-payments-container {
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  height: 100%;
}

.bill-title {
  font-size: 34px;
  font-weight: 700;
  color: #12255c;
  margin-bottom: 5px;
}

.bill-title span {
  color: #1c2a8a;
}

.bill-subtitle {
  font-size: 15px;
  color: #666;
  margin-bottom: 40px;
}

.bill-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  flex-wrap: wrap;
}

.bill-card {
  flex: 1 1 250px;
  max-width: 280px;
  min-height: 550px;
  border-radius: 18px;
  border: 3px solid #1c2a8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bill-card.white-card {
  background-color: #fff;
  color: #1c2a8a;
}

.bill-card.blue-card {
  background-color: #1c2a8a;
  color: #fff;
}

.bill-card i {
  font-size: 70px;
  margin-bottom: 20px;
}

.bill-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.bill-card:hover {
  transform: translateY(-15px);
  box-shadow: 1px 60px 20px rgba(28, 42, 138, 0.3);
}
