.signup-page {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  height: 100vh;
  width: 100%;
  padding-top: 26rem; 
  padding-bottom: 10rem;
  padding-right: 5%;
}

.signup-box {
  background: #ffffff;
  border-radius: 20px;
  width: 580px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 2rem 2rem 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #000;
  margin-bottom: 1.5rem;
}

input {
  width: 180%;
  max-width: 700px;
  box-sizing: border-box;
  align-items: center;
  padding: 1rem;
  border-radius: 24px;
  border: 1.5px solid #000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.password-container {
  position: relative;
  width: 180%;
  max-width: 700px;
}

.password-input {
  width: 100%;
}

.toggle-password-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;      /* adjust icon size */
  height: 16px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.signup-button {
  background: #1d2f7c !important;
  color: white !important;
  width: 180%;
  padding: 0.8rem;
  border: 2px solid #1d2f7c;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.signup-button:hover {
  background: white !important;
  color: #1d2f7c !important;
  border: 2px solid #1d2f7c;
  box-shadow: 0 0 10px rgba(29, 47, 124, 0.4);
}

.switch-login {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

.switch-login a {
  color: #1d2f7c;
  font-weight: 600;
}

