.auth-layout {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-right: 5%;
  font-family: "Poppins", sans-serif;
}
