body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fc;
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fc;
}
